// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
body {
	background-image :url("images/background.jpg") repeat;
}

.navigation {
	font-family: 'Josefin Sans', sans-serif;
	color: #0d7af3;
}

img {
	display: flex;
	justify-content: space-between;
}
.Footer {
	text-align: center;
	color: #0d7af3;
	font-family: 'Josefin Sans', sans-serif;
}
.logo {
	
}
.gallery {
	padding-top: 250px;	
}
 i {
	color: #0d7af3;
	font-size: 14px;
}
a.hover {
	background-color: #808080;
	color: #fff;
}